
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  margin-top: 30px;
  margin-left: 50px;
}

form {
    background: #333;
    height: 100px;
}

.group {
  width: 200px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

label {
  position: absolute;
  top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font: 400 20px Roboto;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 20px;
  transition: .3s ease;
}

.spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  pointer-events: none;
  height: 10px;
  line-height: 10px;
}

.inc-button {
  right: 0;
  top: 37px;
}

.dec-button {
  right: 0;
  top: 47px;
}

input[type=range] {
  width: 300px;
  margin-top: 20px;
  float: left;
}

/** FF*/
input[type=range]:focus::-moz-range-progress {
  background-color: #2196f3;
}

input[type=range]:focus::-moz-range-thumb {
    border-color: #2196f3;
}

input[type=number]:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: rgba(255, 255, 255, 0.5);
}

input[type=number]:focus {
  outline: none;
}

input[type=number]:focus ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #2196f3;
}

input[type=number]:focus ~ .spinner-button {
  color: #2196f3;
}

input[type=number]:focus ~ .bar:before {
  transform: translateX(0);
}

input[type=number]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  width: 550px;
  height: 3.6666666667px;
  transition: .3s ease;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

.tooltiptext {
    position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font: Roboto;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
