
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

form {
    background: #333;
    height: 100px;
}

.group {
  width: 200px;
  height: 80px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

label {
  position: absolute;
  top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font: 400 20px Roboto;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 20px;
  transition: .3s ease;
}

.spinner-button {
  position: absolute;
  cursor: default;
  z-index: 2;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333;
  width: 14.5px;
  text-align: center;
  margin: 0px;
  pointer-events: none;
  height: 10px;
  line-height: 10px;
}

.inc-button {
  right: 0;
  top: 40px;
}

.dec-button {
  right: 0;
  top: 50px;
}

input[type=range] {
  width: 300px;
  margin-top: 20px;
  float: left;
}

input:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

input:focus ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #2196f3;
}

input:focus ~ .bar:before {
  transform: translateX(0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  width: 550px;
  height: 3.6666666667px;
  transition: .3s ease;
  position: relative;
}
.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}
